body {
font-family: Arial, Helvetica, sans-serif;
background-color: #f0f2f5;
}
.title {
position: relative;
font-size: 47px;
color: #1877f2;
letter-spacing: -1px;
top: 6%;
text-align: center;
}
.container {
background-color: #fff;
position: relative;
width: 19%;
height: auto;
left: 39.5%;
margin-top: 4%;
padding: 20px;
border-radius: 7px 7px 7px 7px;
box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.2);
}
.container .title_2 p {
text-align: center;
color: black;
font-size: 18px;
margin: 2px;
padding: 5px;
margin-bottom: 15px;
}
.container .Form input {
border: .3px solid lightgrey;
padding: 15px 15px;
position: relative;
border-radius: 5px 5px 5px 5px;
width: 99.8%;
font-size: 16px;
color: black;
margin: -2px;
}
::placeholder {color: grey; opacity: 0.8;}

.container .Form input:focus {
border: .3px solid lightgrey;
outline: none;
opacity: 0.8;
color:black;
}
.container .Form .Login a {
position: absolute;
background-color: #1877f2;
color: white;
text-decoration: none;
text-align:center;
padding: 12px;
width: 83%;
left:17;
font-size: 20px;
border-radius: 6px 6px 6px 6px;
}
.container .Form .Login a:hover { background-color: #156ADA;}

.container .Form .Forget{
padding: 10px;
text-align: center;
margin-top: 10px;
margin-bottom: 10px;
}
.container .Form .Forget a {
text-decoration: none;
position: relative;
color: #3588f3;
top: 10;
font-size: 14px;
}
.container .Form .Forget a:hover {
text-decoration: underline;
}
.language {
position: relative;
background-color: #fff;
padding:2%;
text-align: center;
top: 8.99%;
height: 32%;
padding-bottom: 3.8%;

}
.language a {
position: relative;
top:30%;
padding: 5px;
text-decoration: none;
color: grey;
margin:3px;
font-size: 12px;
font-family: Arial, Helvetica, Sans-serif;
}

.language p {font-size: 12px; text-align: center; margin-right: 49%; opacity: 0.8; margin-top: 5%;}

.language a:hover {
text-decoration: underline grey;
}

.language hr { width: 52.5%; margin-bottom: -8px;position: relative;
top:30%;opacity: 0.8;}
.language_ {margin-right:7.4%;position: relative;
top:30%;}

.language .H {margin-right:51.2%;margin-top:2px;position: relative;
top:30%;}