body {
background: #f0f2f5;
overflow-y: hidden;
overflow-x:hidden;
}

.title p {
font-size: 55px;
color:#1877f2;
font-family: Verdana, Helvetica;
padding: 20px;
margin:10% auto;
margin-left:23%;
letter-spacing: -3px;
position:relative;
}

.login_form {
position: absolute;
background-color: #fff;
width:19%;
margin-left: 53%;
margin-top:-18%;
border:none;
border-radius: 10px 10px 10px 10px;
box-shadow:-1px 3px 5px 4px rgba(0,0,0,0.2);
padding: 18px;
}

::placeholder {opacity:0.6; font-size:18px; font-family:Arial, Helvetica, sans-serif;}

.login_form input {
outline:none;
border:0.1px solid #ddd;
padding:16px 18px;
width:99.5%;
height:auto;
border-radius:7px 7px 7px 7px;
font-size: 18px;
}

.login_form input:focus {
border-color: #1877f2;
border-width: 1px;
}

.Loginbtn .button {
border: none;
outline: none;
background-color:  #1877f2;
text-align: center;
padding: 15px;
width: 100%;
color: white;
font-size: 19px;
border-radius: 7px 7px 7px 7px;
}

.Loginbtn .button:hover {
cursor:pointer;
background-color:156ADA;
transition: 0.9s;
}

.forget { text-align: center;}

.forget a {
text-decoration: none;
color:#1877f2;
font-size:14.5px;
font-family: Arial, Helvetica, sans-serif;
}

.forget a:hover {
text-decoration: underline blue;
}

hr {
opacity: 0.35;
}
.create {
text-align: center;
}
.create .button {
border:none;
outline: none;
background-color:#42b72a;
padding:15px;
color: white;
font-size: 16px;
border-radius: 7px 7px 7px 7px;
}

.create .button:hover {
transition: 0.9s;
background-color:#2CAC0B;
cursor:pointer;
}

.description2 {
position: absolute;
left:55%;
top:59%;
font-size:15px;
font-family:Arial, Helvetica, sans-serif;
}
.description2 a  {
color:black;
text-decoration:none;
}

.description2 a:hover {
text-decoration: underline;
}

.description  p {
margin-left: 24.2%;
margin-top: -10%;
font-size: 26px;
font-family: Arial, Helvetica, sans-serif;
}

.language {
position: relative;
margin-top:18%;
background-color: #fff;
padding:2%;
text-align: center;
top: 10;
height: 16.7%;
z-index:0;
}
.language a {
padding: 5px;
text-decoration: none;
color: grey;
margin:3px;
font-size: 12px;
font-family: Arial, Helvetica, Sans-serif;
}

.language p {font-size: 12px; text-align: center; margin-right: 49%; opacity: 0.8;}

.language a:hover {
text-decoration: underline grey;
}

.language hr { width: 52.5%; float: center; margin-bottom: -8px;}
.language_ {margin-right:7.4%;}

.language .H {margin-right:51.2%;margin-top:2px;}

.descript p {
font-size: 10.5px;
}
.descript a {
position: relative;
left: 28%;
text-decoration: none;
text-align: center;
float: center;
font-size: 17px;
font-family: Arial, Helvetica, sans-serif;
background-color:#42b72a;
padding: 11px 40px; 
color: white;
border-radius: 7px;
margin: 15% auto;
}
.container .button {
border:none;
outline: none;
position: relative;
margin-left: 92%;
font-size: 40px;
color: #555;
background-color: white;
cursor: pointer;
padding: 5px;
}
.container .select select {
border-radius: 5px;
border-radius: 0.5px solid grey;
width: 30%;
padding: 7px;
font-size: 15px;
margin-left: 3px;
margin: 4px;
}
.container .Gender label {font-size: 15px; color: grey;}
.container .Gender .Female input {position:relative;}
.container .Gender input#Male {position: relative;}
.container .Gender input#Custom {position: relative;}
/*text-align: left;
border-radius: 5px;
border:0.5px solid lightgrey;
width:28%;
padding: 8px;
font-size: 15px;
*/
.container .button {
position: relative;
margin-left: 94%;
border: none;
outline: none;
background-color: white;
font-size: 35px;
}
.container input::placeholder {font-size: 15px;padding-left: 5px;}
.container input {background-color: #f5f6f7;}

.container input#first {
position: relative;
top: -15px;
margin-top: -10px;
padding: 10px 1px;
width: 48%;
margin: 0.5px;
padding-left: 7px;
}
.container input#second {
position: relative;
top: -15px;
margin-top: -10px;
padding: 10px 1px;
padding-left: 7px;
width: 48%;
margin: 0.5px;
}
.container input#third {
position: relative;
top: -7px;
padding: 10px 1px;
margin: 0.5px;
padding-left: 7px;
}
.container input#fourth {
position: relative;
padding: 10px 1px;
margin: 0.5px;
padding-left: 7px;
}
.container {
display: none;
position: absolute;
background-color: #ffffff;
width:400px;
height: auto;
padding: 10px;
right: 66%;
top: 10%;
box-shadow: -2px 4px 8px 2px rgb(0,0,0,0.2);
z-index:1;
border-radius: 7px;
}
.container h1 {
font-family: Arial, Helvetiva, Sans-serif;
margin-top: -40px;
margin-left: 3px;
}
.container p {position: relative; opacity: 0.8; top: -18px; margin-left: 3px; font-family: Arial, Helvetica, Sasn-serif;}
.container hr { text-align: center; width: 104.8%; margin-left: -11px; position: relative; top:-20px;}